<html>

<head>
    <title>异步分片上传文件(进度条)</title>
</head>

<body>
    <div class="hei-bg" style="display:block;">
        <div class="user-info" style="display:block;">
            <div class="tc">请上传大文件</div>
            <div class="user-pic picw320">
                <input id="uppic" type="file">
            </div>
            <div id="jd" class="jdb">进度</div>

            <div>
                <input type="button" value="确定" id="userbtn" class="bg-main tc userbtn">
            </div>
        </div>
    </div>
</body>
<script src="/views/js/jquery.js"></script>
<script>
    $(function () {
        $('#userbtn').on('click', async function () {
            var d1 = new Date();
            let file = $("#uppic")[0].files[0], //上传文件主体
                name = file.name, //文件名
                size = file.size, //总大小
                succeed = 0, //当前上传数
                shardSize = 1 * 1024 , //分片大小
                shardCount = Math.ceil(size / shardSize); //总片数

            try {
                for (let item = 0; item < shardCount; ++item) {
                    await fn(item); //同步
                }
               
                $('.jdb').append(' 上传成功');
                var d2 = new Date();
                console.log('共花费' + parseInt(d2 - d1) / 1000 + 's');
            } catch (err) {
                $('.jdb').html(err);
                console.log(err);
            }

            /**
             *   item为当前片段序号
              */

            function fn(item) {
                return new Promise((resolve, reject) => {
                    var i = item;
                    var start = i * shardSize, //当前分片开始下标
                        end = Math.min(size, start + shardSize); //结束下标

                    //构造一个表单，FormData是HTML5新增的
                    var form = new FormData();
                    form.append("data", file.slice(start, end)); //slice方法用于切出文件的一部分
                    form.append("name", name); //文件名字
                    form.append("total", shardCount); //总片数
                    form.append("index", i + 1); //当前片数
                    //Ajax提交

                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        data: form,
                        timeout: 120 * 1000,
                        async: false, //同步
                        processData: false, //很重要，告诉jquery不要对form进行处理
                        contentType: false, //很重要，指定为false才能形成正确的Content-Type
                        success: function (data) {
                            ++succeed;  //上传数递增
                            if (typeof (data) == 'string') {
                                try {
                                    data = JSON.parse(data);
                                    console.log(data.msg);
                                } catch (e) {
                                    console.log(data);
                                }
                            }
                            //生成当前进度百分比
                            var jd = `${Math.round(succeed / shardCount * 100)}%`;
                            $('.jdb').html(jd);
                            /*如果是线上，去掉定时，直接callback()，
                            这样写是为方便，本地测试看到进度条变化
                            因为本地做上传测试是秒传，没有时间等待*/
                           /*  setTimeout(resolve, 50); */
                           resolve()
                        }
                    });
                })
            }
        });
    });
</script>

</html>