<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>arraybuffer流上传</title>
    <script src="js/jquery.js"></script>
    <script src="js/EventUtil.js"></script>
    <style>
      .test{
          width : 60%;
          height : 500px;
          margin : 0 auto;
          display : flex;
          justify-content: center;
          align-content: center;
      }
    </style>
</head>
<body>
     <div class = "test">
         <input type = "file" id = "file" />
     </div>

     <script>
         var _in = document.querySelector('#file')
         _in.onchange = function(e){
              e.preventDefault()
              var file = e.target.files[0]
              console.log('fileSize is ', file.size)
              var readFile = new FileReader()
              readFile.readAsArrayBuffer(file)
              readFile.onload = function(){
              var streams =  slicePart(4000000,this.result)
                 streams.forEach(function(stream){
                      uploadStream(stream)
                 })  
              }
         }

        function uploadStream(stream){
            var formData = new FormData();
                var _demo = new ArrayBuffer(8)
                console.log(stream.cont, '_demo')
                formData.append(stream['index'], stream.cont);
                $.ajax({
                    type : "post",
                    url : "/uploadFileStream",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,  //此处指定对上传数据不做默认的读取字符串的操作
                    success:function(rs){
                       console.log(rs);
                    },
                    error:function(r){
                        alert("文件上传出错！");
                    }
            });
         }

        function slicePart(index,targetBuffer){
             var _bufferTeams = [], _len = (targetBuffer.byteLength % index) > 0?  Math.floor(targetBuffer.byteLength / index) + 1 : targetBuffer.byteLength / index
             for(var i = 0; i < _len; i++){
                  _bufferTeams[i] = {
                      index : i,
                      cont : targetBuffer.slice(i * index, i * index + index)
                  }
             }
             return _bufferTeams
        }
     </script>
</body>
</html>