<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大文件分片同步上传</title>
    <script src="js/jquery.js"></script>
    <script src="js/EventUtil.js"></script>
    <style>
      .test{
          width : 60%;
          height : 500px;
          margin : 0 auto;
          display : flex;
          justify-content: center;
          align-content: center;
      }
    </style>
</head>
<body>
     <div class = "test">
         <input type = "file" id = "file" />
     </div>

     <script>
         var _in = document.querySelector('#file'), initTime = new Date()
         _in.onchange = function(e){
              e.preventDefault()
              var file = e.target.files[0]
              var _files = slicePart(100000,file)
              console.log('<<====切分的文件')
              console.log(_files)
              console.log('切分的文件====>>')
              _files.forEach(function(item, index){
                    uploadStream(item)
              })
             
         }


         /**
          *  上传文件流 
          *  @param {object} bloborfile
           */

         function uploadStream(bloborfile){
                var formData = new FormData();
                formData.append('data',  bloborfile.cont); //内容
                formData.append('total', bloborfile.total);
                formData.append('name',  bloborfile.name);
                formData.append('curIndex',  bloborfile.curIndex);
               
                $.ajax({
                    type : "post",
                    url : "/uploadFileStream2",
                    data: formData,
                    dataType : 'json',
                    async: false, //同步
                    cache: false,
                    contentType: false,
                    processData: false,  //此处指定对上传数据不做默认的读取字符串的操作
                    success:function(rs){
                       if(rs.code === 0){
                            var secs  = (new Date() - initTime) / 1000   + "ms"
                            console.log('共花费传输时间' + secs)
                       }
                    },
                    error:function(r){
                        alert("文件上传出错！");
                    }
            });
         }

          /**  
           *    切分流数据
           *    @param {number} index
           *    @param {Blob | File} targetBuffer
            */
          function slicePart( index, targetBuffer){
             var _bufferTeams = [], _len = (targetBuffer.size % index) > 0?  Math.floor(targetBuffer.size / index) + 1 : targetBuffer.size / index
             for(var i = 0; i < _len; i++){
                  _bufferTeams[i] = {
                      curIndex : i + 1,
                      cont : targetBuffer.slice(i * index, i * index + index),
                      total : _len,
                      name :  targetBuffer.name,
                      sliceSize : index
                  }
             }
             return _bufferTeams
        }
     </script>
</body>
</html>