<html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel = "stylesheet" href = '/css/resume.css'>
        <title>异步分片上传文件(进度条)</title>
</head>

<body style = 'background : #999;'>
  
    <div class = "out" >
        <div class = "flex header">断点续传</div>
        <div class = 'flex'>
             <div class = "flex col-3">上传文件</div>
             <div class = "flex col-3">上传进度</div>
             <div class = "flex col-3">操作</div>
        </div>

        <div class = 'flex'>
                <div class = "flex col-3" id = "fileName">
                      <!--  文件名  -->
                </div>
                <div class = "col-3">
                        <div class = "_t" style = "text-align : center; line-height : 1.2rem; margin : 0 auto; width : 6rem;  height : 1.25rem; right : 0; color : #000;"></div>
                        <div  class = "f_bg" style = "margin : 0.25rem auto;">
                                <div  class = "s_bg" style = "width : 0; height : 100%;background : rgb(232,63,75);border-radius: 0.5rem;"></div>
                        </div>
                </div>
                <div class = "flex col-3">
                    <div class = "stop btn">暂停</div>
                </div>
        </div>

        <div class = "flex" style = "font-size : 1.3rem; height : 3rem;">
                <div  class = "foot" ><input id="uppic" style = "position: absolute;width: 10rem;left: 50%;margin-left : -6rem;height: 2.5rem; margin-top : -0.5rem;opacity : 0;" type="file" style = "opacity: 0;">上传文件 </div>

        </div>
    </div> 

</body>
<script src="/lib/jquery.js"></script>
<script src="/dist/jquery.slice.min.js"></script>


<script>
      
    $('#uppic').on('change', function(){
            var d1 = new Date(), textMap = { false : '暂停', true : '继续'}, init = false
            console.log($("#uppic")[0].files[0])
            $('#fileName').html($("#uppic")[0].files[0].name)
            $('.btn').on('click', function(){
                   init = !init
                   $(this).html(textMap[!!init])   
            })

            //调用插件
            $.sliceFiles({
                resumeDom  : document.querySelector('.stop'),
                file   :  $("#uppic")[0].files[0],
                sliceSize  : 1000 * 1024,
                supplyData : JSON.stringify({name : "朱星宇", age : 26}),
                apiUrl : '/upload',
                success  : function(data,process){
                    var jd = `${process}%`;
                    $('._t').html(jd);
                    $('.s_bg').css({ width : jd})   
                },
                fail : function(err){
                    alert('上传失败!')
                },
                finish : function(){
                    $('.jdb').append(' 上传成功');
                        var d2 = new Date();
                        console.log('共花费' + parseInt(d2 - d1) / 3600 + 's');
                }
            })
        })
     
</script>

</html>